<section class="padding" id="features">
  <div class="container">
    <div class="row">

      <div class="col-lg-4 col-sm-6">
        <div class="elem" #feat1 (mouseenter)="setColor(feat1)">
          <div class="icon">
            <i class="fa fa-mortar-board"></i>
          </div>
          <h3>Более 4 лет опыта</h3>
          <p class="lead">Это моя основная деятельность, сделано много сайтов разных тематик - от визитки до интернет-магазина.</p>
        </div>
      </div>

      <div class="col-lg-4 col-sm-12">
        <div class="elem" #feat3 (mouseenter)="setColor(feat3)">
          <div class="icon">
            <i class="fa fa-tasks"></i>
          </div>
          <h3>Современные технологии</h3>
          <p class="lead">Я постоянно совершенствую свои навыки и слежу за новинками в сфере ВЕБ.</p>
        </div>
      </div>

      <div class="col-lg-4 col-sm-6">
        <div class="elem" #feat2 (mouseenter)="setColor(feat2)">
          <div class="icon">
            <i class="fa fa-money"></i>
          </div>
          <h3>Актуальная цена</h3>
          <p class="lead">За свои услуги я беру столько, сколько они действительно стоят. Ничего лишнего. 100% отработка денег.</p>
        </div>
      </div>

    </div>
  </div>
</section>
