#content {
  width: calc(100% - 250px);
  background: #f8f8f8;
  margin-top: 56px;
  padding: 20px;
  min-height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
}
.gate {
  background: #fff;
  padding: 20px;
  box-shadow: 0 0 10px 0px #bebebe;
}
