<section id="showcase">
  <div>

    <div class="row no-gutters">
      <div class="col-lg-6 order-lg-2">
        <img src="public/img/showcase/sc2.jpg">
      </div>
      <div class="col-lg-6 order-lg-1 text-part">
        <h2>АДМИНИСТРАТИВНОЕ ПРАВО</h2>
        <p>Дела, связанные с привлечением к административной ответственности юридических и физических лиц, в том числе оспаривание постановлений о лишении прав управления транспортными средствами, постановлений ФАС, ГАТИ.</p>
      </div>

      <div class="col-lg-6">
        <img src="public/img/showcase/sc1.jpg">
      </div>
      <div class="col-lg-6 text-part">
        <h2>ЖИЛИЩНЫЕ СПОРЫ</h2>
        <p>Юридические консультации, ведение дел, связанных с разделом, предоставлением, определением порядка пользования, выкупом, куплей-продажей, дарением, оспариванием сделок с жилыми и коммерческими объектами.</p>
      </div>
    </div>

    <div class="row no-gutters">
      <div class="col-lg-6 order-lg-2">
        <img src="public/img/showcase/sc3.jpg">
      </div>
      <div class="col-lg-6 order-lg-1 text-part">
        <h2>УГОЛОВНЫЕ ДЕЛА</h2>
        <p>Юридическая помощь в сопровождении уголовных дел, защита на предварительном следствии и в суде, ведение дел потерпевших от преступлений, в том числе поддержание обвинения, предъявление гражданского иска.</p>
      </div>

      <div class="col-lg-6">
        <img src="public/img/showcase/sc4.jpg">
      </div>
      <div class="col-lg-6 text-part">
        <h2>НАСЛЕДСТВО</h2>
        <p>Ведение наследственных дел, в том числе в суде, юридическое консультирование по вопросам вступления в наследство, сбор документов, восстановление сроков принятия наследства, установление факта принятия наследства.</p>
      </div>
    </div>

  </div>
</section>
