<section id="showcase">
  <div class="row no-gutters">

    <div class="col-lg-6 order-lg-2">
      <img src="https://blackrockdigital.github.io/startbootstrap-landing-page/img/bg-showcase-1.jpg">
    </div>
    <div class="col-lg-6 order-lg-1 text-part">
      <h2>Header text</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, laudantium!</p>
    </div>

    <div class="col-lg-6">
      <img src="https://blackrockdigital.github.io/startbootstrap-landing-page/img/bg-showcase-2.jpg">
    </div>
    <div class="col-lg-6 text-part">
      <h2>Header text</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, laudantium!</p>
    </div>

  </div>
</section>
