<section class="hero bg-overlay" id="hero" data-bg="public/img/hero.jpeg">
  <div class="text">
    <p class="lead">Заказать <span class="typed"></span></p>
    <img id="js-logo" class="js-logo1" src="public/img/jslogo.png">
    <h1>Веб-разработчик<br><span class="author">Тимур Харитонов</span></h1>
    <div class="cta">
      <a href="#features" class="btn btn-primary smooth-link">Подробнее</a>
      <div class="link">
        <a href="#"><i class="fa fa-github"></i> Follow me on GitHub</a>
      </div>
    </div>
  </div>
</section>
