<section>
  <div class="container">
    <h2 class="section-title">Технологии</h2>
    <p class="section-lead text-muted">В своих проектах я использую множество различных технологий, которые делают процесс разработки проще, а работу будущего сайта или веб-приложения качественнее.</p>
    <div class="technologies">
      <div class="item" *ngFor="let i of ['node', 'angular', 'express', 'mongo', 'bootstrap', 'jquery', 'typed', 'fa', 'gulp', 'sass']">
        <img src="public/img/technologies/{{i}}.png" alt="node">
      </div>
    </div>
  </div>
</section>
