<section class="padding bg-grey" id="blog">
  <div class="container">
    <h2 class="section-title">Следите за моим блогом</h2>
    <p class="section-lead text-muted">Я регулярно веду свой тематический блог, в котором рассказываю про наиболее интересные события в сфере веб, веду учет новых технологий, покарившихся мне и даже упоминаю некоторых заказчиков и их проекты.</p>
    <div class="section-body">
      <div class="row masonry">

        <div *ngFor="let item of data.posts; let i = index;" class="col-12 col-md-6 col-lg-4 masonry-item">
          <article class="card">
            <img class="card-img-top" src="public/img/news/{{item.img}}.jpg">
            <div class="card-body">
              <div class="card-subtitle mb-2 text-muted">от <a href="#">bodasooqa</a> {{ item.date | date:'dd.MM.yyyy - hh:mm':'+0300' }}</div>
              <h4 class="card-title"><a href="#" data-toggle="read" data-id="1">{{item.title}}</a></h4>
              <p class="card-text">{{item.desc}}</p>
              <div class="text-right">
                <button (click)="showAlert()" class="card-more" data-toggle="read" data-id="1">Читать дальше <i class="fa fa-arrow-right"></i></button>
              </div>
            </div>
          </article>
        </div>
        <div class="col-12 col-md-6 col-lg-4 to-blog masonry-item">
          <i class="fa fa-newspaper-o"></i>
          <h4>Еще больше новостей в блоге</h4>
          <button (click)="showAlert()" class="btn btn-primary">Перейти</button>
        </div>
      </div>
    </div>

    <!--<div class="row align-items-center mt-5">
      <div class="col-12 col-md-6">
        <h2>Не упускайте обновлений блога</h2>
        <p class="text-muted">Оставьте свой email для дальнейшей рассылки</p>
      </div>
      <div class="col-12 col-md-6">
        <form class="subscribe" action="#">
          <input type="email" name="email" class="form-control" placeholder="Email">
          <button class="btn btn-primary">Подписаться</button>
        </form>
      </div>
    </div>-->
  </div>
</section>
