#works {
  height: 100%;
  .container {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
  }
  h2 {
    margin-top: 100px;
  }
  .works {
    background: rgba(255, 255, 255, 0.8);
    padding: 15px;
    .work {
      filter: blur(3px);
      padding: 15px;
      outline: none;
      a {
        outline: none;
        img {
          width: 100%;
        }
        h4 {
          text-align: center;
          padding: 20px;
          margin-bottom: 100px;
        }
      }
    }
    .work.slick-slide.slick-current.slick-active.slick-center {
      filter: blur(0px);
    }
  }
}


